@import "/src/components/common/colors.css";

.sidebar {
  position: relative;
  min-width: 256px;
  height: 100%;
  border-right: 1px var(--redrange-lighten) solid;
}
.sidebar .custom-file-upload {
  margin: 16px 32px;
  height: 48px;
}

.spaceIndicator {
  position: absolute;
  bottom: 32px;
}
