@import "/src/common/colors.css";
.titleBar {
  display: flex;
  height: 64px;
  border-bottom: 2px solid var(--light-gray);
}

.titleBar .logo {
  display: flex;
  justify-content: center;
  min-width: 256px;
  padding-top: 8px;
}

.titleBar .logo img {
  margin-left: -16px;
}

.titleBar .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.titleBar .buttons {
  display: flex;
}
.titleBar .buttons button {
  margin-left: 16px;
}
