@import "/src/common/colors.css";
.titleBar {
  display: flex;
  height: 64px;
  border-bottom: 1px solid var(--light-gray);
}

.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 256px;
  padding-top: 8px;
}

.logo img {
  margin-left: -16px;
}
